 {% load static %}
  <!-- letest blog area start -->
    <div class="letest-blog pb--120">
        <div class="container">
            <div class="section-title text-black">
                <h2>Our Latest Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
            </div>
            <div class="row">
                <div class="blog-list">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="list-item">
                            <div class="blog-thumbnail">
                                <a href="blog-details.html"><img src="{% static 'img/blog/blog-thumb1.jpg'%}" alt="blog thumbnail"></a>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">Work For Success</a></h2>
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                    <li><i class="fa fa-comment"></i>Comments</li>
                                </ul>
                            </div>
                            <div class="blog-summery">
                                <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis </p>
                            </div>
                            <a href="blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="list-item">
                            <div class="blog-thumbnail">
                                <a href="blog-details.html"><img src="{% static 'img/blog/blog-thumb2.jpg'%}" alt="blog thumbnail"></a>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">Work For Success</a></h2>
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                    <li><i class="fa fa-comment"></i>Comments</li>
                                </ul>
                            </div>
                            <div class="blog-summery">
                                <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis </p>
                            </div>
                            <a href="blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="list-item">
                            <div class="blog-thumbnail">
                                <a href="blog-details.html"><img src="{% static 'img/blog/blog-thumb3.jpg'%}" alt="blog thumbnail"></a>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">Work For Success</a></h2>
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                    <li><i class="fa fa-comment"></i>Comments</li>
                                </ul>
                            </div>
                            <div class="blog-summery">
                                <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis </p>
                            </div>
                            <a href="blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- letest blog area end -->