    {% load static %}
    <!-- map area start -->
    <div id="separator"></div>
    <!-- map area end -->
    <!-- contact area start -->
    <div class="contact-area bg-theme">
        <div class="container">
            <section class="contact-inner" id="contact">
                <div class="section-title text-black">
                    <h2>Contact Codeswiftr</h2>
                </div>
                <div class="contact-flex-container">
                    <div class="contact-address">
                    <p><strong>Codeswiftr</strong> is a small software development agency offering top quality development
                     and support to remote clients, using cutting edge technologies such as:
                    <strong>Python</strong>, <strong>React</strong>, <strong>SwiftUI<strong> and </strong>PyTorch</strong> with experience in augmented reality, computer vision, IoT and mobile app development.</p>
                        
                        <h4 class="contact-title">Address</h4>
                        <ul>
                            <li class="h-addres"><i class="fa fa-home"></i>Bvd. Decebal nr. 54
                                <br>Craiova, Romania</li>
                            <li><i class="fa fa-phone"></i>+40765 379 993 </li>
                            <li><i class="fa fa-envelope"></i>bogdan@codeswiftr.com</li>
                        </ul>
                    </div>
                    <div class="contact-form">
                        <h4 class="contact-title">Get In Touch</h4>
                        {% comment %} <form method="post">
                        {% csrf_token %}
                            <input type="text" class="input" name="name" placeholder="Your Name *">
                            <input type="email" class="input" name="email" placeholder="Your Email address*">
                            <input type="text" class="input" name="subject" placeholder="Your Subject*">
                            <input type="text" class="input" name="name" placeholder="Your Message*">
                            <textarea name="msg" class="input" id="msg" placeholder="Your Message*"></textarea>
                            <input type="submit" id="send" value="Send">
                        </form> {% endcomment %}

                        {% load widget_tweaks %}

                        <form action="/" method="post">
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="input" %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- contact area end -->
