    {% load static %}
    <!-- map area start -->
    <div id="separator"></div>
    <!-- map area end -->
    <!-- contact area start -->
    <div class="contact-area bg-theme">
        <div class="container">
            <section class="contact-inner" id="contact">
                <div class="section-title text-black">
                    <h2>Contact US</h2>
                </div>
                <div class="contact-flex-container">
                    <div class="contact-address">
                        <h4 class="contact-title">Address</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                        <ul>
                            <li class="h-addres"><i class="fa fa-home"></i>300 Kutubkhallpoint
                                <br>New York,United States</li>
                            <li><i class="fa fa-phone"></i>+0044 545 989 626</li>
                            <li><i class="fa fa-envelope"></i>Example@gmail.com</li>
                        </ul>
                    </div>
                    <div class="contact-form">
                        <h4 class="contact-title">Get In Touch</h4>
                        <form action="#">
                            <input type="text" class="input" name="name" placeholder="Your Name *">
                            <input type="email" class="input" name="email" placeholder="Your Email address*">
                            <input type="text" class="input" name="subject" placeholder="Your Subject*">
                            <input type="text" class="input" name="name" placeholder="Your Message*">
                            <textarea name="msg" class="input" id="msg" placeholder="Your Message*"></textarea>
                            <input type="submit" id="send" value="Send">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- contact area end -->
