   {% load static %}
   <!-- team area start -->
    <div class="team-area ptb--120">
        <div class="container">
            <div class="section-title text-black">
                <h2>Meet my team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
            <div class="row">
                <div class="member-area">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="team-item">
                            <img src="{% static 'img/team/img1.jpg'%}" alt="team image">
                            <div class="tmember-info">
                                <h4>John Deo</h4>
                                <span>front-end developer</span>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusm tempor incididunt ut labore et</p>
                                <div class="social-btns">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="team-item">
                            <img src="{% static 'img/team/img2.jpg'%}" alt="team image">
                            <div class="tmember-info">
                                <h4>John Deo</h4>
                                <span>front-end developer</span>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusm tempor incididunt ut labore et</p>
                                <div class="social-btns">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="team-item">
                            <img src="{% static 'img/team/img3.jpg'%}" alt="team image">
                            <div class="tmember-info">
                                <h4>John Deo</h4>
                                <span>front-end developer</span>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusm tempor incididunt ut labore et</p>
                                <div class="social-btns">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="team-item">
                            <img src="{% static 'img/team/img4.jpg'%}" alt="team image">
                            <div class="tmember-info">
                                <h4>John Deo</h4>
                                <span>front-end developer</span>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusm tempor incididunt ut labore et</p>
                                <div class="social-btns">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team area end -->