{% load static %}
    <!-- about area start -->
    <section class="about-area ptb--110" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 hidden-sm hidden-xs">
                    <div class="about-left-thumb">
                        <img src="{{ about.image.url }}" alt="mobile screen">
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="about-content">
                        <span>{{about.subtitle}}</span>
                        <h2>{{about.title}}</h2>
                        <p>{{about.description}}</p>
                        <div class="about-ft">
                            {% for feature in about.top_features.all %}
                            <div class="ft-single">
                                <div class="icon"><i class="{{feature.icon}}"></i></div>
                                <div class="ft-info">
                                    <h4>{{feature.name}}</h4>
                                    <p>{{feature.description}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->