   {% load static %}
    <!-- feature area start -->
    <section class="feature-area ptb--110 bg-theme" id="features">
        <div class="container">
            <div class="section-title">
                <h2>Best Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
            </div>
            <div class="row">
                <div class="feature-content">
                    <div class="col-md-4 col-sm-6 col-xs-12 text-right">
                        <div class="feature-list">
                            <div class="feature-item">
                                <div class="icon"><i class="fa fa-file-image-o"></i></div>
                                <h4>.Unlimited Features</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </div>
                            <div class="feature-item">
                                <div class="icon"><i class="fa fa-cloud"></i></div>
                                <h4>.Cloud Storage</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </div>
                            <div class="feature-item">
                                <div class="icon"><i class="fa fa-cube"></i></div>
                                <h4>.Modern Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-xs hidden-sm">
                        <div class="feature-mscreen">
                            <img src="{% static 'img/mobile/feature-screen.png'%}" alt="mobile screen">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-list feature-list-right">
                            <div class="feature-item">
                                <div class="icon"><i class="fa fa-android"></i></div>
                                <h4>Android Platform.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </div>
                            <div class="feature-item">
                                <div class="icon"><i class="fa fa-headphones"></i></div>
                                <h4>Strategy Solutions.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </div>
                            <div class="feature-item">
                                <div class="icon"><i class="fa fa-desktop"></i></div>
                                <h4>Fully Responsive Design.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature area end -->