    {% load static %}
    <!-- screen slider area start -->
    <section class="screen-slider-area ptb--120" id="screenshot">
        <div class="container">
            <div class="section-title text-black">
                <h2>{{screens.title}}</h2>
                <p>{{screens.subtitle}}</p>
            </div>
            <div class="row">
                <div class="screen-slider owl-carousel">
                  {% for screen in screens.screens.all %}
                    <img src="{{screen.image.url}}" alt=" mobile screen">
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- screen slider area end -->