    {% load static %}
    <!-- achivement area start -->
    <div class="achivement-area ptb--120 bg-theme
    text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="achive-single">
                        <div class="icon"><i class="fa fa-cloud-download"></i></div>
                        <h2>20K</h2>
                        <span>Download</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="achive-single">
                        <div class="icon"><i class="fa fa-heart"></i></div>
                        <h2>5K</h2>
                        <span>Happy Clients</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="achive-single">
                        <div class="icon"><i class="fa fa-coffee"></i></div>
                        <h2>30K</h2>
                        <span>Coffee Cups</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="achive-single">
                        <div class="icon"><i class="fa fa-trophy"></i></div>
                        <h2>50</h2>
                        <span>Award</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- achivement area end -->