    <!-- download area start -->
    <section class="download-area ptb--120 bg-theme" id="download">
        <div class="container">
            <div class="section-title">
                <h2>Download Appson</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
            <div class="download-btns btn-area text-center">
                <a href="#"><i class="fa fa-android"></i>android story</a>
                <a href="#"><i class="fa fa-apple"></i>android story</a>
                <a href="#"><i class="fa fa-windows"></i>Windows story</a>
            </div>
        </div>
    </section>
    <!-- download area end -->