  {% load static %}
    <!-- download area start -->
    <section class="download-area ptb--120 bg-theme" id="download">
        <div class="container">
            <div class="section-title">
                <h2>{{download.title}}</h2>
                <p>{{download.description}}</p>
            </div>
            <div class="download-btns btn-area text-center">
                {% for link in download.links.all %}
                    <a href="{{link.url}}"><i class="{{link.icon}}"></i>{{link.name}}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- download area end -->