    {% load static %}
    <!-- testimonial area start -->
    <section class="testimonial-area ptb--120" id="review">
        <div class="container">
            <div class="section-title text-black">
                <h2>{{reviews.title}}</h2>
                <p>{{reviews.subtitle}}</p>
            </div>
            <div class="row">
                <div class="testimonial-list owl-carousel">
                    {% for review in reviews.testimonials.all %}
                    <!-- single item start -->
                    <div class="testimonial-item">
                        <div class="tauthor-meta">
                            <div class="author-thumb">
                                <img src="{{review.avatar.url}}" alt="author image">
                            </div>
                            <div class="author-info">
                                <h4>{{review.name}}</h4>
                                <span>{{review.title}}</span>
                                <div class="review-stasr">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tauthor-text">
                            <p>{{review.content}}</p>
                        </div>
                    </div>
                    <!-- single item end -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->